aniso8601
awscli
base58
boto
boto3
botocore
cffi
click
colorama
docutils
enum34
Flask
Flask-Cors
#Flask-Ask
futures
hjson
idna
ipaddress
itsdangerous
Jinja2
jmespath
MarkupSafe
ordered_set
placebo
pyasn1
pycparser
pymyra
pyOpenSSL
python-dateutil
python-slugify
PyYAML
requests
rsa
s3transfer
six
tqdm
troposphere
Unidecode
Werkzeug
wsgi-request-logger
zappa
#lambda-packages==0.20.0
#git+https://github.com/Miserlou/lambda-packages@master
#git+https://github.com/Miserlou/lambda-packages@0.20.0
#lambda-packages
slackclient
zdesk
lxml
python-intercom
simple-salesforce
# See https://github.com/Miserlou/Zappa/issues/1455
cryptography==2.1.4
kappa
